**/__pycache__
*.pyc
*.pyo
*.pyd
.env
.git
.github
tests/
scrapping/backend/
scrapping/data/
scrapping/.gitignore
scrapping/README.md
scrapping/requirements.txt
scrapping/run.py
scrapping/migrate_to_sqlite.py
data/
*.db
*.sqlite
.vscode/
.idea/
